<footer class="krypton-footer">
  <div class="container">
    <!-- Logo -->
    <div class="footer-logo">
      <a href="#">
        <img class="rotating" src="/img/logo/krypton-gradient.svg" alt="" />
        <div class="brand-name">aldoyh</div>
        <div class="brand-subtitle">Building the future, one commit at a time</div>
      </a>
    </div>

    <!-- Columns -->
    <div class="columns footer-columns is-vcentered">
      <div class="column is-4">
        <!-- Links group -->
        <ul class="footer-links">
          <li>
            <a href="#start">Projects</a>
          </li>

          <li>
            <a href="#skills">Skills</a>
          </li>

          <li>
            <a href="#experience">Experience</a>
          </li>
        </ul>
      </div>
      <!-- Newsletter -->
      <div class="column is-4">
        <div class="subscribe-block">
          <form>
            <!-- Field -->
            <div class="control">
              <!-- Special input -->
              <input class="krypton-subscribe-input" type="email" name="email" placeholder="Stay updated" />
              <button class="subscribe-button">
                <span>Subscribe</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Links group -->
      <div class="column is-4">
        <ul class="footer-links">
          <li>
            <a href="https://github.com/aldoyh">GitHub</a>
          </li>

          <li>
            <a href="/blog">Blog</a>
          </li>

          <li>
            <a href="mailto:contact@aldoyh.dev">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Copyright -->
    <p class="k-copyright">© 2024-2026 | aldoyh. All Rights Reserved</p>
    <br />
    <!-- Made by -->
    <p class="coded-by">
      Designed and Coded by <a href="https://cssninja.io" target="_blank">Css Ninja</a>
    </p>
  </div>

  <!-- Absolute image -->
  <img class="solar-system" src="/img/bg/solar.svg" alt="" />
</footer>
